<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
 <servlet-name>Repartition</servlet-name>
 <servlet-class>servlets.RepartitionServlet</servlet-class>
</servlet>

<servlet-mapping>
 <servlet-name>Repartition</servlet-name>
 <url-pattern>/repartition</url-pattern>
</servlet-mapping>

<servlet>
 <servlet-name>SelectRepartition</servlet-name>
 <servlet-class>servlets.SelectRepartitionServlet</servlet-class>
</servlet>

<servlet-mapping>
 <servlet-name>SelectRepartition</servlet-name>
 <url-pattern>/selectRepartition</url-pattern>
 <url-pattern>/</url-pattern>
</servlet-mapping>


</web-app>